:root {
    --dark: #0b0f14;
    --dark-2: #111827;
    --accent: #facc15;
    --text: #e5e7eb;
    --muted: #9ca3af;
    --border: rgba(255,255,255,.08);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: var(--dark);
    color: var(--text);
    
}


.navbar {
    background: rgba(0,0,0,.75);
    backdrop-filter: blur(6px);
}

.navbar-brand {
    font-weight: 700;
    letter-spacing: 1px;
}

.nav-link {
    color: white !important;
    margin-left: 1.5rem;
}

.nav-link:hover {
    color: var(--accent) !important;
}

.pagina {
    height: 95vh;
    background: url("../img/fondo1.jpeg") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagina::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.7);
}

.pagina-content {
    position: relative;
    text-align: center;
    padding: 2rem;
}

.pagina-box {
    background: white;
    padding: 1.2rem 3rem;
    margin-bottom: 1.5rem;
}

.pagina-box h1 {
    margin: 0;
    color: #0f172a;
    font-weight: 800;
    text-transform: uppercase;
}

.pagina p {
    color: var(--text);
    font-size: 1.1rem;
}


.btn-main {
    background: var(--accent);
    color: #111;
    padding: .8rem 2rem;
    border-radius: 999px;
    font-weight: 600;
    text-decoration: none;
}


.section {
    padding: 5rem 1rem;
}

.section h2 {
    color: var(--accent);
    text-align: center;
    margin-bottom: 1rem;
}

.section p.lead {
    text-align: center;
    max-width: 900px;
    margin: auto;
    color: var(--muted);
}


.card-box {
    background: var(--dark-2);
    border-radius: 18px;
    padding: 2rem;
    margin-bottom: 2rem;
    border: 1px solid var(--border);
     text-align: center;
}


.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
     text-align: center;
}
.card-box ul {
    list-style-position: inside;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
}

.team-card {
    background: var(--dark-2);
    border-radius: 18px;
    padding: 2rem;
    border: 1px solid var(--border);
     text-align: center;
}

.team-card h5 {
    color: var(--accent);
     text-align: center;
}

.team-card p {
    font-size: .9rem;
    margin-bottom: .4rem;
    text-align: center;
}

.footer {
    background: black;
    text-align: center;
    padding: 1.5rem;
    color: var(--muted);
}

